MONGODB_URI=mongodb://localhost:27017/worldcup
MONGODB_DB_NAME=fifa-world-cup-2026
REACT_APP_API_URL=http://backendurl.com
REACT_APP_KNOCKOUT_SCHEDULE=false
REACT_APP_FINALS_MODE_START=2026-07-17
REACT_APP_FORCE_REFRESH_CACHE=false
